In [1]:
import numpy as np
import pandas as pd

dataFrame = pd.DataFrame(np.random.randn(4,3),
                         columns=['b','d','e'],
                         index=['台北','台中','台南','高雄'])
dataFrame

           b         d         e
台北  0.002928  1.512861 -1.501404
台中  0.192304  0.203185 -0.034684
台南  2.002714  1.107182  0.045001
高雄  0.503140 -1.021223 -0.538815

In [2]:
np.abs(dataFrame)

           b         d         e
台北  0.002928  1.512861  1.501404
台中  0.192304  0.203185  0.034684
台南  2.002714  1.107182  0.045001
高雄  0.503140  1.021223  0.538815

In [3]:
dataFrame.max()

b    2.002714
d    1.512861
e    0.045001
dtype: float64

In [4]:
dataFrame.min()

b    0.002928
d   -1.021223
e   -1.501404
dtype: float64

In [5]:
display(dataFrame.max())
dataFrame.max(axis=1)

b    2.002714
d    1.512861
e    0.045001
dtype: float64

台北    1.512861
台中    0.203185
台南    2.002714
高雄    0.503140
dtype: float64

In [6]:
display(dataFrame.min())
dataFrame.min(axis=1)

b    0.002928
d   -1.021223
e   -1.501404
dtype: float64

台北   -1.501404
台中   -0.034684
台南    0.045001
高雄   -1.021223
dtype: float64

In [7]:
def func1(series:pd.Series)->pd.Series:
    return series + 10

dataFrame.apply(func1)

            b          d          e
台北  10.002928  11.512861   8.498596
台中  10.192304  10.203185   9.965316
台南  12.002714  11.107182  10.045001
高雄  10.503140   8.978777   9.461185

In [8]:
def func2(series:pd.Series)->float:
    return series.max() - series.min()

dataFrame.apply(func2)

b    1.999786
d    2.534084
e    1.546405
dtype: float64

In [10]:
def func2(series:pd.Series)->float:
    return series.max() - series.min()

display(dataFrame.apply(func2))
dataFrame.apply(func2,axis=1)

b    1.999786
d    2.534084
e    1.546405
dtype: float64

台北    3.014265
台中    0.237869
台南    1.957712
高雄    1.524362
dtype: float64

In [11]:
def func3(series:pd.Series)->pd.Series:
    data = [series.max(),series.min(),series.max()-series.min()]
    s = pd.Series(data,index=["最大","最小","最大-最小"])
    return s

dataFrame.apply(func3)

              b         d         e
最大     2.002714  1.512861  0.045001
最小     0.002928 -1.021223 -1.501404
最大-最小  1.999786  2.534084  1.546405